body {
    background-color: #e7eef8;
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A4224D;
    height: 50px;
    margin-bottom: 20px;
    color: #fff;
}
  
.main-header a {
    text-decoration: none;
    color: #fff;
    padding-right: 10px;
}

.main-header div {
    padding-left: 10px;
}

.header {
    padding: 10px;
}

.add-note {
    margin-bottom: 3em;
}

.checked {
    color: grey;
    text-decoration: line-through;
}