body {
    background-color: #fcfd99;
}

.note {
    display: flex;
    border-bottom: 1px solid #333;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.note h2 {
    width: 30%;
}

.note p {
    width: 30%;
}

.removeNote {
    border: 1px solid #333;
    height: 15px;
    width: 20px;
    background-color: #333;
}

.editButton {
    border: 1px solid #177414;
    height: 15px;
    width: 20px;
    background-color: #177414;
}

.saveChanges {
    border: 1px solid #4911e0;
    height: 20px;
    width: 25px;
    background-color: #4911e0;
}

.removeNote2 {
    border: 1px solid #af167c;
    background-color: #af167c;
    height: 20px;
    width: 25px;
}